{% extends "./../components/template.html" %}

{% block body %} 
<div class="card-body upload-form">
    <form action="/tvshows/{{tvshow.tvshowId}}/tvshowId/seasons/create" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Season Number</label>
          <input type="number" name="number" class="form-control" value="{{tvshow.seasons.length + 1}}">
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" name="covers" class="custom-file-input" multiple>
              <label class="custom-file-label">Choose Covers files</label>
            </div>
        </div>
        <div class="input-group my-3">
            <div class="custom-file">
              <input type="file" name="posters" class="custom-file-input" multiple>
              <label class="custom-file-label">Choose Posters files</label>
            </div>
        </div>
        <button class="btn btn-outline-success">SUBMIT</button>
      </form>
</div>
{% endblock %}

    
