{% extends "./../components/template.html" %}

{% block body %} 
<h1>Welcome to TvShows</h1>
<div class="controls">
  <a href="/tvshows/create" class="btn btn-outline-success btn-sm">ADD TV-SHOW</a>
</div>
<div class="row mt-3">
  {% for tvshow in tvshows %}
      <div class="">
        <div class="cover-card">
            <a href="/tvshows/{{tvshow.tvshowId}}">
                <img class="cover" src="/media/image/{{tvshow.covers[0].filename}}" alt="cover">
            </a>
        </div>
        <div class="movie-card-info">
            <div class="">
                    {{tvshow.title}}
            </div>
            <a href="/tvshows/{{tvshow.tvshowId}}/delete" class="btn btn-outline-danger btn-sm">DELETE</a>
            <a href="/tvshows/{{tvshow.tvshowId}}/seasons" class="btn btn-outline-success btn-sm">SEASON</a>
        </div>
    </div>
  {% endfor %}
{% endblock %}
</div>
    
